WorkSpace-PreAltaClientes.Web/Connected Services/ClienteServiceReference/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60386/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkSpace_PreAltaClientes.DataModel" />
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkSpace_PreAltaClientes.DataModel" minOccurs="0" name="req" nillable="true" type="q1:ClienteDTOReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkSpace_PreAltaClientes.DataModel" minOccurs="0" name="ConsultarResult" nillable="true" type="q2:ClienteDTOResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Grabar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>